@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #c9d6ff, #e2e2e2); 
}

.container{
  width: 480px;
  height: 630px;
  background: linear-gradient(to right, #06beb6, #48b1bf); 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 10px rgba(0, 0, 0, 0.4);
}

